body {
	background-color: #6592FA;
}

h1 {
	font-family: helvetica, sans serif;
	font-size: 30px;
	font-weight: 800px;
	text-shadow: 2px 2px white;
	color: #041130;
	text-align: center;
	text-transform: uppercase;
}

iframe {
  	vertical-align: middle;
}