

h1 {
	text-transform: uppercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	background-image:url(geometric.jpg);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align:center;
	margin:0;
	padding:0;
}

p {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: justify-all;
}

iframe {
	display: block;
	margin: auto;
}

* {
  background-color:#E5E8E8;
}


.galeria {
  height: calc( 400px + 3em);
  width: 550px;
  margin:1em auto;
  border: 1px solid #555;
  position: relative;  
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-400px - 1.5em);
  left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(5):checked ~ img:nth-of-type(5) {
  opacity: 1;
}
